<div class="top-link">
  <a href="/" class="btn btn-primary">Go back</a>
</div>

<div class="card-grid">
  {{#each artistResults}}
    <div class="card">
      {{!-- Should do the same here for the image. Only show it if it exists --}}
      <img src={{this.images.0.url}} class="card-img-top" alt={{this.name}} />
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">Ckeck out {{this.name}}'s albums.</p>
        <a href="/albums/{{this.id}}" class="btn btn-primary">Go to artist</a>
      </div>
    </div>
  {{/each}}
</div>